<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR62N6B2eKB81cApA_pWKphxj_4TuI3n8</string>
	<key>GCM_SENDER_ID</key>
	<string>596775451407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goodDeedsSalon</string>
	<key>PROJECT_ID</key>
	<string>gooddeedssalon</string>
	<key>STORAGE_BUCKET</key>
	<string>gooddeedssalon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596775451407:ios:46f0701bfeaf0ab873dc7a</string>
</dict>
</plist>